h1 {
    font-family: monospace;
    color: blue;
}

;
.classeTest {
    font-size: 13px;
    text-align: justify;
    font-family: monospace;
    font-style: oblique;
}

.classeTestRed {
    font-size: 13px;
    color: red;
    text-align: justify;
    font-family: monospace;
    font-style: oblique;
}

.classeTestGreen {
    font-size: 13px;
    color: green;
    text-align: justify;
    font-family: monospace;
    font-style: oblique;
}