<h1>{{title}}</h1>
<p [ngStyle]="{color: 5 > 7 ? 'red' : 'blue'}">Stretta la soglia, larga la via !</p>
<p [ngClass]="{'classeTest': x}">Dividi et impera !</p>
<button (click)="cambiaBoolean()">Cambia</button>

<div>
    <p [ngClass]="{'classeTest': x}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at maximus ex, ac dignissim turpis. Maecenas id nisl quis nisl cursus hendrerit. Suspendisse ante dolor, condimentum at mi sit amet, mollis dapibus lacus. Donec efficitur placerat ultricies.
        Donec et justo at justo aliquam hendrerit sed sit amet diam.</p>
    <p [ngClass]="{'classeTest': x}">Aenean ut libero vitae nulla aliquam malesuada vitae quis ex. Donec faucibus, turpis vitae gravida elementum, tellus elit laoreet nulla, vitae pellentesque erat sem eget eros. </p>
    <p [ngClass]="{'classeTest': x}">Fusce auctor sem sapien, a efficitur purus ultricies eget. Donec finibus, tortor ac lobortis convallis, ipsum sem convallis est, sed convallis dolor ipsum vel metus. Vestibulum lacus est, scelerisque eu eleifend quis, vulputate congue tellus. Ut lobortis
        porta odio, sed tincidunt eros scelerisque eget.</p>
    <p [ngClass]="{'classeTest': x}">Curabitur varius aliquet magna, non posuere erat faucibus ultricies. Morbi fermentum luctus urna eget porta. Donec placerat luctus sapien, in posuere mi viverra vel.</p>
    <p [ngClass]="{'classeTest': x}">Aenean placerat placerat felis a faucibus. Fusce iaculis tellus vel lacus luctus maximus. Sed eu nibh nisl. Etiam finibus, neque eget elementum efficitur, lectus urna semper est, at cursus ligula risus at nisl. Aliquam tempor mi nisi, et sollicitudin
        elit vulputate ac.</p>

</div>